@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

/*General css*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #fff;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
h1, h2 {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
}
h1 {
    font-size: 38px;
}
h2, h3 {
    color: #35373a;
}
p {
    color: #9fa3a6;
}

/*HEADER AREA*/
header {
    background-image: url('../images/bg-header-desktop.png');
    background-size: cover;
    background-position: center;
    height: 230px;  
}
.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
}
.header-img img {
    max-width: 100px;
    width: 100%;
}

/*SECTION clipboard-introduction*/
.clipboard-introduction {
    text-align: center;
    max-width: 650px;
    margin: auto;
    margin-bottom: 170px;
}
.clipboard-introduction p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.link-for--devices {
    display: flex;

}
.link-ios {
    flex: 1;
}
.link-ios a {
    display: inline-block;
    width: 70%;
    background-color: #26bca3;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #2f9681;
    color: #fff;
    margin-left: 80px;

}
.link-ios a:hover {
    text-decoration: underline;
}
.link-mac {
    flex: 1;
}
.link-mac a {
    display: inline-block;
    width: 70%;
    background-color: #6174ff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #5964bd;
    color: #fff;
    margin-right: 80px;

}
.link-mac a:hover {
    text-decoration: underline;
}

/*SECTION description-area*/
.description-area {
    text-align: center;
    max-width: 650px;
    margin: auto;
}
.description-area h2 {
    margin-bottom: 20px;
}
.photo-info--area {
    display: flex;
    align-items: center;
    padding: 80px 0px;
}
.photo-info--area .leftside img {
    width: 100%;
    max-width: 600px;
}
.photo-info--area .rightside{
    margin-left: 140px;
}
.photo-info--area .rightside .rightside-info {
    margin-bottom: 50px;
    max-width: 390px;
}
.photo-info--area .rightside .rightside-info h3 {
    margin-bottom: 10px;
    font-size: 20px;
}
.photo-info--area .rightside .rightside-info p {
    font-size: 18px;
}

/*SECTION access-clipboard*/
.access-clipboard .description-area {
    text-align: center;
    max-width: 650px;
    margin: auto;
}
.access-clipboard .access-img {
    margin: 50px 0px;
    text-align: center;
    
}
.access-clipboard .access-img img {
    width: 100%;
    max-width: 750px;
}

/*SECTION supercharge*/
.supercharge-area {
    padding: 0px 50px;
    margin-top: 70px;
}
.supercharge-items {
    display: flex;
}
.supercharge-item {
    text-align: center;
    margin-right: 20px;
    flex: 1;
}
.supercharge-item img {
    margin-bottom: 30px;
}
.supercharge-item h2 {
    margin-bottom: 20px;
}
.supercharge-item p {
    line-height: 28px;
}
.supercharge-item:last-child {
    margin-right: 0px;
}

/*SECTION companies*/
.companies {
    padding-top: 180px;
    padding-bottom: 160px;
    display: flex;
}
.company-logo {
    text-align: center;
    flex: 1;
}

/*SECTION downloads*/
.downloads p {
    margin-bottom: 50px;
}

/*Footer*/
footer {
    background-color: #f4f5f7;
    margin-top: 150px;
    padding: 60px 30px;
}
.footer-area {
    display: flex;
}
.footer-area .leftside {
    flex: 1;
}
.footer-area .leftside img{
    width: 90px;
    margin-left: 30px;
}
.footer-area .middleside {
    flex: 3;
    display: flex;
}
.footer-area .middleside div {
    margin-right: 40px;
}
.footer-area .middleside a {
    display: block;
    margin-bottom: 20px;
    color: #414448;
}
.footer-area .middleside a:hover {
    text-decoration: underline;
}
.footer-area .rightside {
    flex: 1;
}
.footer-area .rightside .social-medias img {
    margin-right: 20px;
}
.attribution {
    margin-top: 50px;
    text-align: center;
}
.attribution a {
    color: #6174ff;
}
.attribution a:hover {
    text-decoration: underline;
}